.header {
	height:200px;
	background: orange;
}
body {
	morgin:0;
	padding:0;
}
#logo{
	float:left;
	morgin:spx;
}
.logotext{
	float:right;
	morgin:20px;
}
.topmenu {
	display:flex;
	width:100%;
	margin:0 auto;
}
.topmenu a{
	flex:1;
	background: olive;
	color:black;
	text-decoration:none;
	text-align:center;
	padding:5px;
	border-left:1px solid #fff;
}
.topmenu a:hover{
	background:gold;
	color:red;
}